@use '../../sass/utils/fonts' as fonts;
@use '../../sass/utils/colors' as colors;

#image-carousel {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  position: relative;
  height: 100%;
  line-height: 0%;

  .mySlides {
    display: block;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 400px;

    @media only screen and (min-width: 1200px) {
      height: 680px;
    }

    .car-img {
      width: 100%;
      object-fit: cover;
      height: 100%;

      @media (min-width: 1200px) {
        height: 100%;
      }
    }
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 42.5%;
    width: 55%;

    @media (min-width: 768px) {
      bottom: 35%;
      width: 35%;
    }

    @media (min-width: 1200px) {
      justify-content: space-between;
      align-items: center;
      bottom: 3%;
      width: 15%;
      padding: 0;
    }

    .dot {
      height: 17px;
      width: 17px;
      background-color: colors.$white;
      border-radius: 50%;
      border: 2px solid colors.$white;
      cursor: pointer;
    }

    .active {
      background-color: colors.$button-color;
    }

    .leftar {
      max-width: 33px;
      max-height: 33px;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }

      &:active {
        transform: scale(1);
      }
    }
    .rightar {
      max-width: 33px;
      max-height: 33px;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}

.image-text {
  text-align: left;
  background-color: colors.$light-black;
  display: block;
  width: 100%;
  text-align: center;

  @media (min-width: 1200px) {
    background-color: rgba(0, 0, 0, 0.3);
    width: 33%;
    text-align: left;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (min-width: 2440px) {
    max-width: 850px;
  }

  h1 {
    margin: 0 0 0 auto;
    font-size: 38px;
    line-height: 45px;
    font-weight: 700;
    $font: 'Roboto';
    color: colors.$white;

    @media (max-width: 700px) {
      font-size: 32px;
    }

    @media (min-width: 1200px) {
      padding: 1.5rem 1rem 0 8rem;
      margin: 0;
    }

    @media (min-width: 1920px) {
      padding: 3rem 1rem 0 19rem;
    }

    @media (min-width: 2440px) {
      font-size: 2.75rem;
      line-height: 56px;
      padding-left: 23rem;
    }
  }

  p {
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 300;
    line-height: 24px;
    color: #ffffff;
    padding: 1rem 0;

    @media (min-width: 1200px) {
      padding: 1.5rem 1rem 1.5rem 8rem;
      margin: 0;
    }

    @media (min-width: 1920px) {
      padding: 1rem 1rem 3rem 19rem;
      margin: 0;
    }

    @media (min-width: 2440px) {
      font-size: 1.5rem;
      line-height: 36px;
      padding-left: 23rem;
    }
  }
}
